<div class="dashboard">
    <h2 id="assignmentTitle" >Assignment Dashboard</h2>
    <button class="button" onclick="alert('Aufgabe wird heruntergeladen')" id="downloadTask">⬇ Download Aufgabe</button>
    <button class="button hidden" onclick="alert('Bearbeitung wird heruntergeladen')" id="downloadWork">⬇ Download Bearbeitung</button>
    <button class="button hidden" id="uploadWork">⬆ Upload Bearbeitung</button>
    <button class="button hidden" id="uploadGrading">⬆ Upload Bewertung</button>
    <button class="button hidden" onclick="alert('Bewertung wird heruntergeladen')" id="downloadGrading">⬇ Download Bewertung</button>
</div>