<div id="dashboard" class="dashboard">
  <h2>Assignment Dashboard</h2>
  <div class="assignment-section">
    <h3 onclick="toggleSection('open-assignments')">Offene Assignments</h3>
    <ul id="open-assignments" class="assignment-list hidden"></ul>
  </div>
  <div class="assignment-section">
    <h3 onclick="toggleSection('completed-assignments')">Abgeschlossene Assignments</h3>
    <ul id="completed-assignments" class="assignment-list hidden"></ul>
  </div>
  <!-- Fortschritts-Bild -->
  <img class="mascot-img" src="../Mascot0.png" alt="Mascot Image" id="mascot">
</div>
